<div *ngIf='routeToShow == "video-search"'>
  <h1>Pick your Video!</h1>
  <input (keyup)='searchVideos($event)' placeholder="pick a video">
  <div class="" *ngIf = "videoList.length>0">
  <div *ngFor = "let video of videoList">
    <p>{{video.title}}</p>
    <p>{{video.embeded}}</p>
    <iframe width="560" height="315" [src]="video.embeded" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen *ngIf= "video.embeded"></iframe>
    <br>
      <button type="button" (click)='saveTheVideoPublication(video)'>Add to my profile</button>
  </div>
  </div>

</div>
<div *ngIf='routeToShow == "book-search"'>
  <h1>Pick your Book!</h1>
  <input (keyup)='searchBooks($event)' placeholder="pick a book">
  <div class="" *ngIf = "bookList">
  <div *ngFor = "let book of bookList">
  <a [routerLink]='["/book-detail/",book.link]' >
    <p>{{book.title}}</p>
    <p>by {{book.author}}</p>
  </a>
  </div>
  </div>
</div>
